<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LinkedArt</title>
</head>
<body>
  <h1 style="color: magenta">{{ hi }}</h1>
<ul>
  {{#each list}}
  <li>{{this}}</li>
  {{/each}}
</ul>

<h2>{{{whatIsOn}}}</h2>

<a href="https://www.thebigidea.nz/stories/media-releases"><h3>{{{articles}}}</h3></a>

</body>
</html>