<!DOCTYPE html>
<html>
  <head>
    <title>Musicals</title>
  </head>
  <body>
    {{ page }}
    <a href="http://www.mtnz.org.nz/">Musical Theatre New Zealand</a>
    <a href="https://harlequintheatre.co.nz/">The Harlequin Musical Theatre</a>
  </body>
</html>
