<!DOCTYPE html>
<html>
  <head>
    <title>Musicals</title>
  </head>
  <body>
    <h1>{{ page }}</h1>
    <button><a href="http://www.mtnz.org.nz/">Musical Theatre New Zealand</a></button>,<br>
    <button><a href="https://harlequintheatre.co.nz/">The Harlequin Musical Theatre</a></button><br>
  </body>
</html>
