<!DOCTYPE html>
<html>
  <head>
    <title>Theatre auditions</title>
  </head>
  <body>
    <h1>{{ page }}</h1>
  <ul>
  <button onClick=location.href="https://www.rosecentre.co.nz/">The Rose Centre</button><br>
  <button onClick=location.href="http://www.playhousetheatreinc.co.nz/">Playhouse Theatre</button><br>
  <button onClick=location.href="http://www.titirangitheatre.co.nz/ "> Titirangi theatre</button><br>
  <button onClick=location.href="https://basementtheatre.co.nz/">Basement theatre</button><br>
  <button onClick=location.href="https://hlt.org.nz/">Howick Little Theatre</button><br>
  <button onClick=location.href="https://pumphouse.co.nz/">The PumpHouse Theatre</button><br>
  <button onClick=location.href="https://www.tapac.org.nz/ ">The Auckland Performing Arts Centre</button>
  </ul>
  </body>
</html>
