<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>AUDITION
Ellerslie Theatrical Society
Stables Theatre
Cnr Arthur St & Main Highway
Ellerslie
</p>
  <a href="http://auckland-community-theatre.org/auditions.html">Check it out</a>

</body>
</html>

