body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/curls.png");
  color: lightcoral;
  border: 2px solid magenta;
  border-radius: 30px;
  text-align: center;
  
}

h1 {
  font-size:  80px;
  text-align: center;
  font-style: inherit;
  font-family: Verdana;
}
h2 {
  font-size:  40px;
  text-align: center;
  font-style: italic;
  font-family: Verdana;
  color: red;
}

a {
  color: darkmagenta;
  text-align: center;
}

button {
  color: darkmagenta;
  text-align: center;
  font-size: 30px;
}


li  {
  font-size: 20px;
    
}

p {
  text-align: center;
  color: rgb(255, 0, 106);
  margin-block-start: 10px;
  font-size: 30px;
}
.text {
  width: 20%
}

/* p.center 
{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
} */

ul {
  position: inherit;
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}